@page "/fetchproducts"

@using ClientApp.Models
@using ClientApp.Services

@inject ProductService ProductService

<h3>InventoryHub Products</h3>

@if (products == null)
{
    <p>Loading...</p>
}
else if (!products.Any())
{
    <p>No products found.</p>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>

        <tbody>

        @foreach (var product in products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>$@product.Price</td>
                <td>@product.Stock</td>
            </tr>
        }

        </tbody>

    </table>
}

@code {

    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProductsAsync();
    }

}
