@page "/"

<h3>Theme Selector</h3>
<button @onclick="ToggleTheme">Toggle Theme</button>
<button @onclick="ClearStorage">Clear Storage</button>
<p>Current theme: @theme</p>


@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@code {
    private string theme = "light";

    private async Task ToggleTheme()
    {
        theme = theme == "light" ? "dark" : "light";
        await localStorage.SetItemAsync("theme", theme);
    }

    protected override async Task OnInitilizedAsync()
    {
        theme = await localStorage.GetItemAsync<string>("theme") ?? "light";
    }

    private void ClearStorage()
    {
        localStorage.ClearAsync();
        sessionStorage.ClearAsync();
    }
}
